*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.container{
  width: 1170px;
 margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
 
}
.align-center{
  align-items: center;
}


 a{
  text-decoration: none;
 }
 ul,li{
  list-style: none;
 }
 body{
  font-family: 'Open Sans', sans-serif;
 }

 nav{
  background-color: #02918b;
 }

 nav .logo{
  width: 30%;
 }
 nav .menu{
  width: 70%;
 }
 nav .menu ul{
  text-align: right;
 }

 nav .menu ul li{
  display: inline-block;
 }
 nav .mene ul li a {
font-weight: 800;
color:aqua;
text-transform:uppercase;
font-size:12px;
padding:26px 25px;
display:block;
 }

 .banner{
  background-image: url(../image/banner.jpg);
 height: 730px;
 background-size: cover;
 background-position: center;
 position: relative;
}

.banner::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(63, 59, 59,0.5);
  top: 0;
  left: 0;
}